@model IEnumerable<AppPeade.Models.Pyha>

@{
    ViewBag.Title = "Pühad";
}

<h2>Pühad</h2>

<p>
    @Html.ActionLink("Loo uus püha", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimetus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuupaev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimetus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuupaev)
        </td>
        <td>
            @Html.ActionLink("Muuda püha", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailid", "Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta püha", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
