@model AppPeade.Models.Kylaline

@{
    ViewBag.Title = "Kustuta külaline";
}

<h2>Kustuta külaline</h2>

<h3>Kas soovite seda tõesti kustutada?</h3>
<div>
    <h4>Külaline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnKutse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnKutse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyhaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyhaId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-primary" /> |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>
    }
</div>
