@model AppPeade.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Kasutage sisselogimiseks teist teenust.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Väliseid autentimisteenuseid pole konfigureeritud. Vaata <a href="https://go.microsoft.com/fwlink/?LinkId=403804">seda artiklit</a>
                et saada lisateavet selle ASP.NET-rakenduse seadistamise kohta, et toetada sisselogimist väliste teenuste kaudu.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Logi sisse oma @p.Caption  konto">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
